{% if error in errors and error_msg %}
  <div class="error">{{ error_msg }}</div>
{% endif %}

{% if before %}
<div class="before">{{ before | wpautop }}</div>
{% endif %}

<label for="{{ name }}" class="check">
  <input id="{{ name }}" type="checkbox" name="{{ name }}"{% if on %} checked{% endif %}>

  {% if label %}
    <span>{{ label }}</span>
  {% endif %}
</label>

{% if after %}
<div class="after">{{ after | wpautop }}</div>
{% endif %}
